<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ app_data['description'] }}">
    <meta name="keywords" content="{{ app_data['keywords'] }}">
    <meta name="author" content="{{ app_data['author'] }}">

    <title>{{ app_data['html_title'] }}</title>
  </head>

  <body>

    <!-- {% include 'includes/_navbar.html' %} -->

    <main role="main" class="container">
      
    </main>
  </body>
</html>